head, body {
    background-color: #FFF3E7;
    /*padding: 20px;*/
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

#title {
    font-family: Koulen;
    font-size: 200px;
    color: #5B2405;
    /*padding-top: vh;*/
    /*might change to just be center of section*/
    margin-bottom: -40px;
}

#subtitle {
    font-family: Koulen;
    font-size: 65px;
    color: #5B2405;
}

.subtitle2 {
    font-family: Koulen;
    font-size: 90px;
    color: #fff3e7;
    -webkit-text-stroke: 2px #5B2405;
    margin-top: 5vh;
    /*margin-bottom: 50px;*/
}

#names {
    font-family: "Space Grotesk";
    font-size: 30px;
    padding-top: 2vh;
}

.menu-items {
    font-family: Koulen;
    font-size: 60px;
    color: #5B2405;
    max-width: 80vw;
    margin: auto;
}

.bullet-points {
    font-family: Koulen;
    font-size: 36px;
    margin-left: 30vw;
    color: #5B2405;
    margin-top: -30px;
}

#app-title, #entree-title,#dessert-title {
    font-family: Koulen;
    font-size: 85px;
    color: #5B2405;
    margin-top: 0vh;
    margin-bottom: 0vh;
    text-decoration: underline;
    /*padding-top: 0px;*/
}

.app-text {
    font-family: "Instrument Sans";
    font-size: 27px;
    border: 2px solid #DABFAA; /* Adjust color to match the outline */
    border-radius: 44px; /* Rounded corners */
    padding: 30px; /* Spacing inside the box */
    text-align: center; /* Center text alignment */
    display: inline-block; /* Shrink the box to fit content */
}


.app-text-2 {
    font-family: "Instrument Sans";
    font-size: 25px;
    color: #5B2405;
    padding-top: 3vh;
    padding-bottom: -5vh;
}

.app-corner, .entree-corner {
    font-family: Koulen;
    font-size: 60px;
    color: #5B2405;
    position: absolute; /* Positions the text relative to the container */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    margin: 5vh; /* Remove default margins */
}

/* Set the size of the map container */
#map {
    width: 100%;
    max-width: 800px; /* Adjust as needed */
    height: 400px;
    margin: 0 auto; /* Center the map container */
    border: 1px solid #ccc; /* Optional border */
}

label {
    font-weight: bold;
}

.dropdown_restrictions{
    margin-bottom: 25px;
}

.slide-text {
    max-width: 80vw;
    margin: auto;
}


/* Cluster marker styles */
/*.marker-cluster-small {*/
/*    background-color: rgba(181, 226, 140, 0.6);*/
/*    color: #2c662d;*/
/*}*/
/*.marker-cluster-medium {*/
/*    background-color: rgba(241, 211, 87, 0.6);*/
/*    color: #6a5512;*/
/*}*/
/*.marker-cluster-large {*/
/*    background-color: rgba(253, 156, 115, 0.6);*/
/*    color: #923b20;*/
/*}*/
/*.marker-cluster div {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    border-radius: 50%;*/
/*    text-align: center;*/
/*    border: 2px solid #fff;*/
/*    font-size: 16px;*/
/*    line-height: 38px;*/
/*}*/

/* Custom cluster marker styles */
.custom-cluster-icon {
    background-color: transparent;
    border: none;
}

.custom-cluster-icon div {
    background-color:  rgba(241, 211, 87, 0.6); /* Light gray background for visibility */
    border-radius: 50%;
    width: 100%;
    height: 100%;
    /*color: #5B2405;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-cluster-icon span {
    font-size: 15px;
    color: #5B2405;
    font-family: Koulen;
}
